<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}
    <title>Vagabound</title>
    <link rel="icon" type="image/x-icon" href="{{ shop.brand.square_logo | image_url }}">
    {% comment %} Adobe Type; TODO: Change to Shopify CDN {% endcomment %}
    <link rel="stylesheet" href="https://use.typekit.net/qbg0hqo.css">
    {% comment %} Bootstrap CDN {% endcomment %}
    <link rel="stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"> 
    {%  comment %} FontAwesome 5 {%  endcomment %}
    <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    {%  comment %} HEAD scripts {%  endcomment %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" async></script>
    {% comment %}
      Font preloading:
      1. Preconnect to font CDN for faster connection
      2. Preload only the critical font variant (base weight)
      3. Additional variants load on-demand via @font-face
    {% endcomment %}
    {% unless settings.type_primary_font.system? %}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

      {% comment %} Preload the base font variant for initial page render {% endcomment %}
      {{ settings.type_primary_font | font_url | preload_tag: as: 'font', crossorigin: 'anonymous' }}
    {% endunless %}

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    {% sections 'header-group' %}

    {% sections 'menu-group' %}
    
    {{ content_for_layout }}

    {% sections 'footer-group' %}

    {% comment %} Scripts {% endcomment %}
    <script type="text/javascript">
      jQuery(window).on("load", function(){
        for( let slider of jQuery('.featured-slider').toArray() ) {
          jQuery(slider).css('display','block');
          jQuery(slider).slick({
            infinite: false, 
            arrows: true, 
            slidesToScroll: 3, 
            variableWidth: true,
            prevArrow: '<button type="button" class="slick-prev"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>',
            nextArrow: '<button type="button" class="slick-next"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>',
            responsive : [
              {
                breakpoint: 1024,
                settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1
                }
              }
            ]
          });
          var count = jQuery(this).find('.slick-slide');
          jQuery(slider).on('afterChange', (evt, slick, current) => {
            let slider = jQuery(slick.$slides.get(current));
            let elem = jQuery(this).find('.slick-current');
            let active = elem.attr('data-slick-index');
            // TODO: Calculate elements; determine what arrows should show
            if (active > 0) {
              jQuery(this).find('slick-prev').css('display','block');
            }
          })
        }
      });
  </script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" defer></script> 
  {% comment %} Scripts {% endcomment %}
  </body>
</html>
